<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MadBarz</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Design your Exercise!</h1>

<form method="POST" th:object="${exercise}">

    <div class="grid">
        <div class="musclegroups-group" id="wraps">
            <h3>Designate your Muscle Groups:</h3>
            <div th:each="musclegroup : ${musclegroups}">
                <input name="muscleGroups" type="checkbox" th:value="${musclegroup.id}" />
                <span th:text="${musclegroup.name}">Muscle Group</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>Name your Exercise:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Add Exercise</button>
    </div>
</form>
<br />
<div>
    <a href="/">Done</a>
</div>

</body>
</html>
