<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MadBarz</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Design your Workout!</h1>

<form method="POST" th:object="${workout}" th:action="@{/workout}">

    <div class="grid">
        <div class="exercises-group">
            <div th:if="${exercises}">
                <h3>Designate your Exercise:</h3>
                <div th:each="exercise : ${exercises}">
                    <input name="exercises" type="checkbox" th:value="${exercise.id}" />
                    <span th:text="${exercise.name}">Exercise</span><br/>
                </div>
            </div>
            <div th:if="${exercises.isEmpty()}">
                <p>There are no exercises to choose from!!</p>
            </div>

        </div>
    </div>
    <div>
        <div>
            <h3>Rounds:</h3>
            <input type="text" th:field="*{rounds}"/>
        </div>
        <div>
            <h3>Rest between Exercises:</h3>
            <input type="text" th:field="*{exerciseRest}"/>
        </div>
        <div>
            <h3>Rest between Rounds:</h3>
            <input type="text" th:field="*{setRest}"/>
        </div>
    </div>
    <div>
        <h3>Name your Workout:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Add Workout</button>
    </div>
</form>
<br />
<div>
    <a href="/">Done</a>
</div>

</body>
</html>
