<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MadBarz</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

    <div>
        <a href="/exercise">Add Exercises</a>
    </div>
    <div>
        <a href="/workout">Add Workouts</a>
    </div>

    <div>
        <h3>Workouts:</h3>
        <div th:if="${workouts}">
            <div th:each="workout : ${workouts}">
                <span th:text="${workout.name}">Workout</span>
                <span th:text="${workout.rounds}">Workout</span>
                <span th:text="${workout.exerciseRest}">Workout</span>
                <span th:text="${workout.setRest}">Workout</span>
                <div th:each="exercise : ${workout.exercises}">
                    <span th:text="${exercise.name}">Workout</span>
                </div>
                <br/>
            </div>
        </div>
        <div th:if="${workouts.isEmpty()}">
            <p>There are no workouts!!</p>
        </div>
    </div>
    <form method="POST" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>