<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MadBarz</title>
</head>
<body>

    <h1>Register</h1>

    <form method="POST" th:action="@{/register}">

        <label for="username">Username:</label>
        <input type="text" name="username" /><br />

        <label for="password">Password:</label>
        <input type="password" name="password" /><br />

        <label for="fullname">FullName:</label>
        <input type="text" name="fullname" /><br />

        <input type="submit" value="Register" />
    </form>

</body>
</html>